<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WindowsService.Services.JobService">
        <endpoint address="" binding="basicHttpBinding" contract="WindowsService.Services.IJobService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WindowsService.Services/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <userSettings>
    <WindowsService.Properties.Settings>
      <setting name="ServiceUri" serializeAs="String">
        <value>net.pipe://localhost/</value>
      </setting>
      <setting name="ServiceAddress" serializeAs="String">
        <value>JobService</value>
      </setting>
    </WindowsService.Properties.Settings>
  </userSettings>
</configuration>